<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwPq0hbKTxj-YhxvVb2I76D42QOMkRb8E</string>
	<key>GCM_SENDER_ID</key>
	<string>417425306336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adamatom.BudgetIsLife</string>
	<key>PROJECT_ID</key>
	<string>budgetislife-4f20e</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetislife-4f20e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417425306336:ios:2876baba94a57fa2fa5685</string>
</dict>
</plist>