<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDi6B9d_mU5xSJg44WJ0n9jZ9N2zkd99mg</string>
	<key>GCM_SENDER_ID</key>
	<string>923038577177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adamatom.BudgieBuddie</string>
	<key>PROJECT_ID</key>
	<string>budgiebuddie</string>
	<key>STORAGE_BUCKET</key>
	<string>budgiebuddie.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923038577177:ios:54f5d1a0ecc1047ffd3088</string>
</dict>
</plist>